<mat-toolbar color="primary" class="toolbar-custom">
  <div class="nav-links-container desktop-links">
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/trucco-sposa">Trucco Sposa</a>
    <a mat-button routerLink="/portfolio">Portfolio</a>
    <a mat-button *ngIf="isLoggedIn" routerLink="/admin">Admin Portfolio</a>
  </div>

  <a routerLink="/home" class="brand-link">Azzurra Angius</a>

  <div class="nav-links-container desktop-links">
    <a mat-button routerLink="/servizi">Servizi</a>
    <a mat-button routerLink="/contatti">Contatti</a>
    <a mat-button routerLink="/chi-sono">Chi Sono</a>

    <ng-container *ngIf="!isLoggedIn">
      <a mat-stroked-button color="accent" routerLink="/login">Login</a>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <button mat-stroked-button color="accent" (click)="logout()">Logout</button>
    </ng-container>

    <div class="language-selector desktop-lang-selector">
      <button mat-icon-button (click)="changeLanguage('it')">
        <img src="https://res.cloudinary.com/ddqilzddj/image/upload/v1754553629/it_di2ix0.png" alt="Bandiera Italiana" class="flag-icon">
      </button>
      <button mat-icon-button (click)="changeLanguage('en')">
        <img src="https://res.cloudinary.com/ddqilzddj/image/upload/v1754553629/en_bkfvkw.png" alt="English Flag" class="flag-icon">
      </button>
    </div>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/home">Home</button>
  <button mat-menu-item routerLink="/trucco-sposa">Trucco Sposa</button>
  <button mat-menu-item routerLink="/portfolio">Portfolio</button>
  <button mat-menu-item *ngIf="isLoggedIn" routerLink="/admin">Admin Portfolio</button>
  <button mat-menu-item routerLink="/servizi">Servizi</button>
  <button mat-menu-item routerLink="/contatti">Contatti</button>
  <button mat-menu-item routerLink="/chi-sono">Chi Sono</button>
  
  <ng-container *ngIf="!isLoggedIn">
    <button mat-menu-item routerLink="/login">Login</button>
  </ng-container>
  <ng-container *ngIf="isLoggedIn">
    <button mat-menu-item (click)="logout()">Logout</button>
  </ng-container>

  <div class="language-selector mobile-lang-selector">
    <button mat-menu-item (click)="changeLanguage('it')">
      <img src="https://res.cloudinary.com/ddqilzddj/image/upload/v1754553629/it_di2ix0.png" alt="Bandiera Italiana" class="flag-icon-menu">
    </button>
    <button mat-menu-item (click)="changeLanguage('en')">
      <img src="https://res.cloudinary.com/ddqilzddj/image/upload/v1754553629/en_bkfvkw.png" alt="English Flag" class="flag-icon-menu">
    </button>
  </div>
</mat-menu>