<div class="app-container">
  <app-navbar></app-navbar>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <app-footer #footerRef></app-footer>
  </div>

<button
  mat-fab
  color="accent"
  class="scroll-to-top-button"
  [class.visible]="showScrollButton"
  [class.over-footer]="isButtonOverFooter"
  (click)="scrollToTop()"
  i18n-aria-label="@@scrollToTopAria" aria-label="Scroll to top"
  [style.bottom.px]="scrollButtonBottom"
>
  <mat-icon>arrow_upward</mat-icon>
</button>