<div class="detail-container" *ngIf="portfolioItem$ | async as item; else loadingOrError">

  <header class="album-header">
    <a routerLink="/portfolio" class="back-link">
      <mat-icon>arrow_back</mat-icon>
      <span>Torna al Portfolio</span>
    </a>
    <h1>{{ item.title }}</h1>
    <p class="subtitle" *ngIf="item.subtitle">{{ item.subtitle }}</p>
    <p class="category">{{ item.category }}</p>
    <p class="description" *ngIf="item.description">{{ item.description }}</p>
  </header>

  <div class="image-gallery" *ngIf="item.images && item.images.length > 0; else noImages">
    <div class="image-wrapper" *ngFor="let image of item.images">
      <img [src]="image.src" [alt]="image.alt || item.title" onerror="this.src='assets/placeholder.png'">
      <p class="image-description" *ngIf="image.description">{{ image.description }}</p>
    </div>
  </div>

  <ng-template #noImages>
    <p class="empty-gallery">Questo album non contiene ancora immagini.</p>
  </ng-template>
</div>

<ng-template #loadingOrError>
  <div class="loading-state">
    <mat-spinner [diameter]="50"></mat-spinner>
    <p>Caricamento dell'album in corso...</p>
  </div>
</ng-template>